# blacklist all
*
!*/

# include whitelist
!/.github/**
!/packages/**
!/.editorconfig
!/.eslintrc
!/.gitignore
!/LICENSE
!/package.json
!/package-lock.json
!/README.md
!/release.ts
!/tsconfig.build.json
!/tsconfig.json
