# blacklist all
*
!*/

# include whitelist
!/.github/**
!/src/**
!/.editorconfig
!/.eslintrc
!/.gitignore
!/.npmrc
!/LICENSE
!/package.json
!/package-lock.json
!/README.md
!/tsconfig.build.json
!/tsconfig.json
